<h1 class="text-center ">OVERVIEW</h1>
<p class="font-italic">
    DMart is a one-stop supermarket chain that aims to offer customers a wide range of basic home and personal products under one roof. Each DMart store stocks home utility products - including food, toiletries, beauty products, garments, kitchenware, bed and bath linen, home appliances and more - available at competitive prices that our customers appreciate. Our core objective is to offer customers good products at great value.

DMart was started by Mr. Radhakishan Damani and his family to address the growing needs of the Indian family. From the launch of its first store in Powai in 2002, DMart today has a well-established presence in 196 locations across Maharashtra, Gujarat, Andhra Pradesh, Madhya Pradesh, Karnataka, Telangana, Chhattisgarh, NCR, Tamil Nadu, Punjab and Rajasthan. With our mission to be the lowest priced retailer in the regions we operate, our business continues to grow with new locations planned in more cities.

The supermarket chain of DMart stores is owned and operated by Avenue Supermarts Ltd. (ASL). The company has its headquarters in Mumbai.

* The brands D Mart, D Mart Minimax, D Mart Premia, D Homes, Dutch Harbour, etc are brands owned by ASL


</p>

<h1 class="text-center">FOUNDERS</h1>
<p class="font-italic bg-light">
    DMart is owned and operated by Avenue Supermarts Ltd. (ASL) – a company founded by Mr. Radhakishan Damani. Mr. Radhakishan Damani is respected in the business world as an astute investor in the Indian equity market, he has built a company that constantly strives towards developing a deep understanding of customer needs and satisfying them with the right products. A firm believer in core business fundamentals and strong ethical values, Mr. Damani has built DMart into an efficient, large and profitable retail chain that is highly respected by customers, partners and employees alike.


</p>

<h1 class="text-center">OUR MISSION</h1>
<p class="font-italic ">
    At DMart, we research, identify and make available new products and categories that suit the everyday needs of the Indian family. Our mission is to provide the best value possible for our customers, so that every rupee they spend on shopping with us gives them more value for money than they would get anywhere else.
</p>

