<img class="container-fluid" src="https://img.dmart.in/images/rwd/banners/hmpg/dhp-half-price1-31jan20.jpg"
    alt="some image01 mb-3">

<h1 class="text-center text-dark bg-danger">Store Categories</h1>

<div class="container">
    <div class="row ">
        <div class="col md-3 ">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/grocery_&_staples_27_02_2016_12_44_29.jpg"
                        alt="Grocery & staples">
                    <div class="card-body">

                        <a class="text-center" href="#" class="btn btn-danger stretched-link ">Grocery & Staples</a>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/daily_essentials_02_03_2016_04_35_25.jpg"
                        alt="Daily Essentials">
                    <div class="card-body">

                        <a class="text-center" href="#" class="btn btn-danger stretched-link ">Daily Essentials</a>


                    </div>
                </div>
                <div class="card">
                    <img class="card-img-bottom"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQV8hceeAQtQejXBx5XZZGqdXzACPFL37Ll8-26aYPWwg4KtxBv"
                        alt="Home & personalcare">
                    <div class="card-body">
                        <a href="#" class="btn btn-danger stretched-link">Home & personalcare</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSvAyCCcgrJqY3CQfEQODzFzqpqf-NK5TVFIL-CpnGZkN9glcHK"
                        alt="Dmart Brands">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Our Brands</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col md-3 mt-4">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://dict.emojiall.com/images/240/facebook/1f95b.png"
                        alt="Dairy & Frozen">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Dairy & Frozen</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://c1.staticflickr.com/2/1594/24657450376_46d70196bb_m.jpg"
                        alt="Fruits & vegettables">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Fruits & vegetables</a>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://productphoto-cdn.sirv.com/Portfolio/BathBody/BathBodyProductPhoto_3.jpg?quality=92&crop.x=center&crop.y=center&crop.width=240&crop.height=240&scale.option=fill&scale.width=240&scale.height=240"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Bed & Bath</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/luggage_27_02_2016_12_42_36.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Luggage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row ">
        <div class="col md-3 mt-4">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/footwear_27_02_2016_12_42_55.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Footwear</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/crockery_27_02_2016_12_41_25.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Crockery</a>

                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/toys_&_games_27_02_2016_12_41_38.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Toys & games</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/plastic_containers_27_02_2016_12_42_09.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Plastic Containers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col md-3 mt-4 mb-3">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.price-hunt.com/content/images/juicer-mixer-grinders/jevascot-portable-usb-juicer-bottle-blender-17-multicolor-240-juicer-mixer-grinder_l.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Home Appliances</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://cdn.shopify.com/s/files/1/2412/9611/products/new-baby-boy-girl-rompers-animal-style-print-100-cotton-long-sleeve-infant-pajamas-kids-clothing-3-3m-eprolo-trending-accessories-black-friday-sale-2019_763_medium.jpg?v=1575088004"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Kids Apparel</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/ladies_garments_27_02_2016_12_43_32.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Ladies Garments</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://www.dmartindia.com/files/front/category/apparel_for_men_15_10_2017_12_40_19.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <a href=# class="center-block btn btn-danger stretched-link">Apparel for men</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small indigo bg-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 bg-danger">Contact Us</h5>

                <ul class="list-unstyled">
                    <li>
                        <p class="bg-danger">Anjaneya Cooperative Housing Society Ltd,
                            Opposite Hiranandani Foundation School,
                            Orchard Avenue, Powai,
                            Mumbai, Maharashtra - 400076.
                        </p>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 bg-warning">Customer Care Number</h5>

                <ul class="list-unstyled">
                    <li>
                        <p class="bg-warning">
                            d-mart contact
                            +91 22 33400500
                        </p>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 bg-primary">Email</h5>

                <ul class="list-unstyled">
                    <li>
                        <p class="bg-primary">Email : suggestion@dmartindia.com</p>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->


            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> dmartindia</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->